
<!DOCTYPE html>
<html lang="en">
  <head>
   
    <title>E-Commerce</title>
    <!-- <link rel="stylesheet" href="/css/bootstrap.min.css">     -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/custom.css">
</head>
</head>

  <body style="padding-top: 100px">

    <%include ./partials/navbar %>
    

    <div class="container">
        <%- body -%>
      
    </div>
 
    <%include ./partials/footer %>
    

  </body>
</html>
 